html {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--dark-background);
    color: var(--main-text-color);
}

.header-logo {
    font-weight: bold;
    font-size: 1.1rem;
}

.header-link-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-link a {
    text-decoration: none;
    color: var(--secondary-text-color);
}
