html {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--dark-background);
    color: var(--main-text-color);
}

.header-logo {
    font-weight: bold;
    font-size: 1.1rem;
}

.header-link-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-link a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background);
    color: var(--main-text-color);
    padding: 100px 10vw;
}

.hero-main-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-main-content p {
    font-size: 18px;
}

.hero-main-content button {
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: bold;
}

.hero-main-content button:hover {
    cursor: pointer;
}

.hero-main-image {
    height: auto;
    width: 600px;
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-section h2 {
    font-size: 36px;
    font-weight: bold;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
    color: var(--quote-text-color);
    margin: 3vh auto;
}

.card {
    max-width: 216px;
    padding: 8px;
}

.card-img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.second-section {
    background-color: var(--light-background);
    color: var(--quote-text-color);
    padding: 10vh 20vw;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
}

.quote-owner {
    text-align: end;
    padding-right: 3vw;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}
